.noty_layout_mixin, #noty_layout__forasteros, #noty_layout__forasterosSinMapa, #noty_layout__forasterosConMapa, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%; }

#noty_layout__top {
    top: 0;
    left: 5%;
    width: 90%; }
#noty_layout__forasteros {
  width: 200px; 
  bottom: 20px;
  left: 120px;
}
#noty_layout__forasterosSinMapa {
  bottom: 10px;
  left: 120px;
  width: 200px; }
#noty_layout__forasterosConMapa {
  bottom: 10px;
  left: 370px;
  width: 200px; }
#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px; }

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px; }

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%; }

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px; }

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px; }

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1); }

.noty_progressbar {
  display: none; }

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10); }

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
      transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden; }

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
      -ms-transform: translate(50%);
          transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
          animation: noty_anim_height 75ms ease-out; }

.noty_close_with_click {
  cursor: pointer; }

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0; }

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
          animation: noty_modal_in .3s ease-out; }

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
          animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: .3; } }

@keyframes noty_modal_in {
  100% {
    opacity: .3; } }

@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0; } }

@keyframes noty_modal_out {
  100% {
    opacity: 0; } }

@keyframes noty_modal_out {
  100% {
    opacity: 0; } }

@-webkit-keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }

@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }

@-webkit-keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0; } }

@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0; } }

@-webkit-keyframes noty_anim_height {
  100% {
    height: 0; } }

@keyframes noty_anim_height {
  100% {
    height: 0; } }

/*# sourceMappingURL=noty.css.map*/

.progress-container {
  display: none;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  color: #fff;
  font-family: Arial;
  width: 20%;
  position: fixed;
  bottom: 5%;
  left: 40%;
}

.progress-labels {
  width: 100%;
  top: 9px;
  height: 20px;
  text-align: center;
  position: absolute;
  display: inline-block;
  white-space: nowrap
}

.progress-labels div {
  font-size: 16px;
  position: relative;
  color: #ffffff;
  z-index: 10;
  font-family: cursive;
}

.progress-bar-container {
  width: 100%;
  background-color: rgba(140, 140, 140, .9);
  height: 28px;
  margin-left: 2px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  background-color: #1a1a1a;
  border-radius: 6px;
  padding: 5px;
  text-align: left;
  overflow: hidden;
  position: relative;
  display: block;
  white-space: nowrap;
}

.progress-bar {
  width: 0%;
  background-color: #ff5f00;
  height: 20px;
  border-radius: 3px;
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-animation: animate-stripes 3s linear infinite;
  transition: width 0.3s;
  transition-timing-function: ease-out;
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.negro_metalico {
  background-color:#0a0a0a;
  border:1px solid #0a0a0a;
}

.negro_grafito_metalico {
  background-color:#1c1c1c;
  border:1px solid #1c1c1c;
}

.granate_metalico {
  background-color:#ab2a3e;
  border:1px solid #ab2a3e;
}

.rojo_desierto {
  background-color:#ff5c40;
  border:1px solid #ff5c40;
}

.rojo_carbanet {
  background-color: #5e2129;
  border: 1px solid #5e2129;
}

.rojo_caramelo {
  background-color: #8b5742;
  border: 1px solid #8b5742;
}

.naranja_metalico {
  background-color: #ffa420;
  border: 1px solid #ffa420;
}

.naranja_mate {
  background-color: #ff8000;
  border: 1px solid #ff8000;
}

.oro {
  background-color: #ffbf00;
  border: 1px solid #ffbf00;
}

.amarillo_mate {
  background-color: #e5be01;
  border: 1px solid #e5be01;
}

.verde_oscuro {
  background-color: #008f39;
  border: 1px solid #008f39;
}

.verde_carrera {
  background-color: #004225;
  border: 1px solid #004225;
}

.util_red {
  background-color: #9c1016;
  border: 1px solid #9c1016;
}

.rojo_mate {
  background-color: #cb3234;
  border: 1px solid #cb3234;
}

.rojo_oscuro_mate {
  background-color: #a01315;
  border: 1px solid #a01315;
}

.plata_oscura_metalizada {
  background-color:#8a9597;
  border:1px solid #8a9597;

}

.rojo_metalico {
  background-color: #f80000;
  border: 1px solid #f80000;
}

.rojo_torino {
  background-color: #bf0010;
  border: 1px solid #bf0010;
}

.plata_metalica {
  background-color: #e3e4e5;
  border: 1px solid #e3e4e5;
}

.plata_azul_desgastado {
  background-color: #7c9fa5;
  border: 1px solid #7c9fa5;
}


.azul_metalico {
  background-color: #3e5f8a;
  border: 1px solid #3e5f8a;
}

.gris_metalico {
  background-color: #8a9597;
  border: 1px solid #8a9597;
}

.gris_antracita {
  background-color: #293133;
  border: 1px solid #293133;
}

.gris_mate {
  background-color: #9b9b9b;
  border: 1px solid #9b9b9b;
}

.gris_claro_mate {
  background-color: #9c9c9c;
  border: 1px solid #9c9c9c;
}

.util_black {
  background-color: #151921;
  border: 1px solid #151921;
}

.util_plata {
  background-color: #6d787a ;
  border: 1px solid #6d787a ;
}

.negro_desgastado {
  background-color: #1c0d02;
  border: 1px solid #1c0d02;
}

.verderMate_foilaje {
  background-color:#0f5301;
  border:1px solid #0f5301;
}

.bronceado_mate_desierto {
  background-color:#4d3831;
  border:1px solid #4d3831;
}

.verderBosque_mate {
  background-color:#0f5301;
  border:1px solid #0f5301;
}

.rojo_metalico_lava {
  background-color:#4d3831;
  border:1px solid #4d3831;
}

.purpura_oscuro_mate {
  background-color:#4d3831;
  border:1px solid #4d3831;
}

.purpura_mate {
  background-color:#4d3831;
  border:1px solid #4d3831;
}

.verde_mar {
  background-color: #2E8B57;
  border: #2E8B57;
}

.verde_olivo {
  background-color: #86895d;
  border: #86895d;
}

.verde_metalico {
  background-color: #1c542d;
  border: #1c542d;
}

.azul_verde {
  background-color: #009c8c;
  border: #009c8c;
}

.verde_lima {
  background-color: #32cd32;
  border: #32cd32;
}

.verde_oscuro1 {
  background-color: #008f39;
  border: #008f39;
}

.mar {
  background-color: #9fd5d1;
  border: #9fd5d1;
}

.azul_medianoche {
  background-color: #203363;
  border: #203363;
}

.azul_oscuro {
  background-color: #252850;
  border: #252850;
}

.azul_morado {
  background-color: #4c2882;
  border: #4c2882;
}

.azul_diamante {
  background-color: #c8e5eb;
  border: #c8e5eb;
}

.amarillo_taxi {
  background-color: #fb9403;
  border: #fb9403;
}

.amarillo {
  background-color: #cda434;
  border: #cda434;
}

.bronce {
  background-color: #cd7f32;
  border: #cd7f32;
}

.blanco {
  background-color: #f4f4f4;
  border: #f4f4f4;
}

.marfil_oscuro {
  background-color: #e1cc4f;
  border: #e1cc4f;
}

.marron {
  background-color: #804000;
  border: #804000;
}

.marron_claro {
  background-color: #b96006;
  border: #b96006;
}

.malva {
  background-color: #b4aabc;
  border: #b4aabc;
}

.purpura {
  background-color: #a5aac5;
  border: #a5aac5;
}

.naranja {
  background-color: #ff8000;
  border: #ff8000;
}

.naranja_claro {
  background-color: #df9246;
  border: #df9246;
}


.rosa {
  background-color: #ff0080;
  border: #ff0080;
}

.rosa_salmon {
  background-color: #ff91a4;
  border: #ff91a4;
}


.Flags_Police {
    background: url('http://leyendasrp.es/entorno_head_police.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 330px;
    margin-top: -10px;
    margin-left: -14px;
}

.Flags_Ambulance {
    background: url('http://leyendasrp.es/entorno_head_ambulance.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 330px;
    margin-top: -10px;
    margin-left: -14px;
}

.Flags_Mecano {
    background: url('http://leyendasrp.es/entorno_head_mechanic.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 330px;
    margin-top: -10px;
    margin-left: -14px;
}


.Flags_Taxi {
    background: url('http://leyendasrp.es/entorno_head_taxi.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 330px;
    margin-top: -10px;
    margin-left: -14px;
}
